.alert {
    border-radius: 200px;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.eso-alert {
    &--fixed {
        position: fixed;
        z-index: 9999;
        top: 4rem;
        width: 90vw;
        max-width: 600px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}