.btn {
    border-radius: 200px;
    text-align: center;
    width: 195px;
    border: 2px solid black;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding: .6rem .2rem;

    &:hover {
        border-color: black;
    }

    .spinner-border {
        position: relative;
        bottom: 1px;
        right: 3px;
    }

    &.btn-lg {
        .spinner-border {
            bottom: 4px;
            right: 7px;
        }
    }
}

.btn-primary {
    background-color: $primary-color;
    color: $primary-contrast;

    &:hover {
        color: $primary-color;
        background-color: $primary-contrast;
    }

    &:not(:disabled):not(.disabled) {
        background-color: $primary-color;
        border-color: $primary-color;

        &:active, &:hover {
            background-color: $primary-contrast;
            border-color: $primary-color;

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(49,105,255,.5);
            }
        }
    }


    &:disabled {
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.btn-dark {
    background-color: black;
    color: white;

    &:hover {
        color: black;
        background-color: white;
    }

    &:not(:disabled):not(.disabled) {
        background-color: black;
        border-color: black;

        &:active, &:hover, &:focus {
            background-color: white;
            border-color: black;

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
            }
        }
    }

    &:disabled {
        background-color: black;
        border-color: black;
    }
}

.btn-text {
    font-size: 1rem;
    width: auto;
    border: none;
    height: auto;
}


.btn-secondary {
    background: white;
    color: black;

    &:hover {
        color: white;
        background: black;
    }
}


.btn-sm {
    width: auto;
    padding: .3rem 1rem;
    font-weight: normal;
}

#coupon {
    .btn {
        margin-left: -8px;
        border-radius: 0;
        height: calc(1.5em + .75rem + 5px);
        border-bottom-right-radius: .25rem;
        border-top-right-radius: .25rem;
        margin-top: -3px;
    }
}

