.dropdown-item {
    &:active {
        background-color: black;
    }
}

.menu-item {
    position: relative;

    &:hover {
        #cart-quick-look {
            display: block;
            z-index: 50;
            position: absolute;
            top: 40px;
            right: 0;
            background: white;
            @include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.2));
        }
    }
}

#cart-quick-look {
   display: none;
    max-width: 100vh;
    width: 500px;
    .cart-quick-look-pic {
      display: flex;
      justify-content: center;
    }
    img {
        max-height: 80px;
        width: auto;
    }

}

