.nav-pills  {
    .nav-link {
        font-size: 14px;
    }

    .nav-link.active, .show>.nav-link {
        border-radius: 200px;
        background: transparent;
        font-weight: bold;
        width: 195px;
        text-align: center;
        padding: .5rem 1rem;
        border: 2px solid black;
        color: black;
    }

    a {
        color: black;

    }
}

.nav-item {
    &.disabled {
        pointer-events: none;
        opacity: .2;
    }
}

#login-nav {
    margin-top: 4rem;
}