
.homeslider {
    text-align: center;
    padding-left: 0;

    img {
        width: 100%;
        margin: auto;
        cursor: pointer;
    }
}

.slick-dots {
    display: inline-block;
    cursor: pointer;

}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: transparent;
    color: black !important;
}

.slick-dots li button:before {
    content: '•';
    font-size: 25px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .7;
    color: black !important;

}

.slick-dots li.slick-active button:before {
    color:black !important;
    opacity: .70 !important;
    font-size: 40px;
}

.slick-dots {
    position: relative;
    left: 46%;
}

$breakpoint-767: 767px;
@media (max-width: $breakpoint-767) {
    .slick-dots {
       left: 43%;
    }
}

$breakpoint-500: 500px;
@media (max-width: $breakpoint-500) {
    .slick-dots {
        left: 35%;
    }
}

.slick-dots li button {
    margin-top: -1px;
}

.slick-dots li.slick-active button{
    margin-top: 0;
}