#cart-content-table {
    td {
        vertical-align: middle;
    }

    th {
        font-weight: 700;
        padding: 9px 12px;
        line-height: 1.5em;
    }
    img {
        max-height: 102px;
        width: auto;
    }
}

#cart {
    h2 {
        font-size: 18px;
        font-weight: bold;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
    }
    #order_note_final {
        word-break: break-all;
    }

    .shipping-method__name {
        &:before {
            content: "";
            background: url(./../img/doprava.png);
            height: 18px;
            width: 27px;
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }

    .payment-method__name {
        &:before {
            content: "";
            background: url(./../img/dobirka.png);
            height: 18px;
            width: 24px;
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }
    .policy_link {
        color: black !important;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    .nav-pills {
        margin-bottom: 50px;
        display: block;
        height: 50px;
        -webkit-box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.10);
        box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.10);
        max-width: 750px;
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;

        .nav-item {
            height: 50px;
            min-width: 250px;
            text-align: center;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav-link {
                color: black;
                border-radius: 0px;
                &.round-first {
                    border-radius: 35px 0 0 35px;
                }
                &.round-last {
                    border-radius: 0 35px 35px 0;
                }
                &.active {
                    width: 100%;
                    background: black;
                    color: white;
                    height: 100%;
                    padding-top: 13px;
                }
            }

        }
    }

    .buttons_login {
        .btn {
            margin-top: 25px;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }

    .eso-cart-item-remove {
        color: black;
    }

    .order_summary {
        margin-top: 30px;
        &.full_width {
            max-width: 100% !important;
            margin-bottom: 30px;
        }
        hr {
            margin-top: 30px;
        }
        .text_order {
            p {
                font-size: 18px;
                font-weight: 400;
            }

        }
        .price_order {
            font-size: 18px;
            font-weight: 400;
            text-align: right;
        }
        .final_text_order {
            p {
                font-size: 30px;
                font-weight: bold;
            }

        }
        .final_price_order {
            font-size: 30px;
            font-weight: bold;
            text-align: right;
        }
    }
}

#checkout-summary {
    .personal-collection-address {
        font-size: .8rem;
        margin-bottom: .5rem;
        display: block;
    }
}

.shipping-method__message {
    display: block;
    line-height: 1.4;
    margin-top: .5rem;
    margin-left: 36px;
}

.cart-sum-without-tax {
    margin-top: 2rem;
    margin-bottom: .4rem;
}
.cart-sum-with-tax {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.8rem;
}

