.thumbnail-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 3rem;

    &.has-background-image {
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,.5);
        height: 260px;
        min-height: 260px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
        }
    }
}

.order-row__detail {
    a {
        color: black;
    }
}

.table-responsive {
    tbody {
        display: table;
        width: 100%;
    }
}

#checkout-summary {
    span {
        display: block;
    }

    #cart-content-table {
    }
}

#cart-content {
    #cart-content-table {
        font-size: 14px;
    }
}



@media screen and (max-width: 991px) {
    #cart .nav-pills .nav-item {
        height: 50px;
        min-width: auto;
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
    }
}

@media screen and (max-width: 767px) {
    .order_summary .col-md {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #order_detail p {
        text-align: left;
    }
    .table-responsive {
        tbody {
            display: block;
            width: auto;
        }
    }
}

@media screen and (max-width: 500px) {

    #cart .order_summary .final_text_order p {
        font-size: 20px;
    }
    #cart .order_summary .final_price_order {
        font-size: 20px;
    }


    #cart .nav-pills .nav-item {
        height: 50px;
        min-width: auto;
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 35px;
        margin-bottom: 20px;
        border: 1px solid black;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    #cart .nav-pills .nav-item .nav-link.active {
        border-radius: 35px;
    }
    #cart .btn-secondary {
        width: 100%;
    }
    #cart .btn-secondary {
        width: 100%;
        margin-bottom: 20px;
    }
}