@import "variables";
@import "mixins";
@import "colors";
@import "buttons";
@import "nav";
@import "dropdown";
@import "tables";
@import "modals";
@import "slider";
@import "forms";
@import "alerts";

html, body {
    height: 100%;
    color: $text;
    font-family: 'Poppins', sans-serif;
}

body {

}

main {
    flex: auto;
}
.flex_style{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;

    &:hover, &:focus, &:active {
        color: black
    }
}
.center_button{
    text-align: center;
}
.black_button{
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    background: #000000;
    display: inline-block;
    padding: 16px 34px;

    &:hover{
        background: #494949;
        color: white;
        text-decoration: none;
    }
}
.black_button_out{
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid black;
    display: inline-block;
    padding: 7px 26px;
    color: black;
    width: 100%;
 
    &:hover{
        background: #000000;
        color: white;
        text-decoration: none;
    }
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-img {
	height: 30px;
}

.eso-product-quantity {
    max-width: 4.1em;
}

#show-debug-bar {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

#eso-debug-bar {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 55px;

    &.active {
        display: block;
    }
}

.enter-form {
    max-width: 400px;
    margin: 0 auto;
}

.checkout-group {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card__wrap {

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.product-item {
    display: block;
    width: 100%;

    &__image {
        height: 300px;
        margin-bottom: 1rem;

    }

    &__tag {
        position: absolute;
        top: 0;
        right: 0;
    }

    img {
        max-height: 100%;
        width: auto;
    }
}

.product-tag {
    background: $primary-color;
    color: $primary-contrast;
    /*border-radius: $border-radius;*/
    font-weight: bold;
    padding: 4px 10px;
    font-size: .8rem;
}

.divider{
    height: 1px;
    width: 100%;
    background: #e2e2e3;
    margin-top: 50px;
}

.top_image{
    height: 200px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    margin-bottom: 60px;
    &:before{
        content: "";
        background: rgba(0, 0, 0, 0.4);
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
    }
    h1{
        color: white;
        font-size: 36px;
        text-align: center;
        padding: 79px 0px;
        margin-bottom: 0px;
    }
}
.page-id-30{
    footer{
        margin-top: 0px;
    }
}
footer {
    flex-shrink: 0;
    min-height: 200px;

    margin-top: 140px;

    .copyright{
        font-size: 15px;
        color: #ffffff;
    }
    .logo_footer{
        margin-top: 5px;
    }

    .footer_menu{
        ul{
            padding: 0px;
            li{
                display: inline-block;
                margin-right: 25px;
                &:last-of-type{
                    margin-right: 0px;
                }

                a{
                    color: white;
                    font-size: 15px;
                    color: white;
                }
            }
        }
    }

    #menu-footer-menu {
        display: flex;
        flex-direction: row;
    }

}
.padding-section{
    padding-top: 94px; 
}
.footer-line {
    font-size: .8rem;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    .navbar{
        padding-bottom: 10px;
    }
}

.footer {
    background-color: black;

}
header a{color: black !important;}
.header {
    background-color: white;
    padding: 11px 0px;
}

.footer-icons {
    img {
        max-height: 25px;
    }
}
.menu-left{
    margin-left: auto !important;
    margin-right: 85px;
}

#menu-main-menu{
    display: block !important;
    li{
        display: inline-block;
        margin-right: 45px;

        &:last-of-type{
            margin-right: 0px;
        }

        a{
            color: #000000;
            font-weight: 500;
            font-size: 15px;
        }
    }
}

$breakpoint-991: 991px;
@media (max-width: $breakpoint-991) {
    #menu-main-menu {
        margin-right: 0;
        li {
            margin-right: 0;
            display: block;
            text-align: center;
        }
    }

    #navbarSupportedContent {
        .navbar-nav {
            text-align: center;
            .my-account-menu-list {
                li {
                    text-align: center;
                }
            }
            .currency-switcher-list {
                li {
                    text-align: center;
                }
            }
            .custom-cart {
                margin: auto;
            }
        }
    }
}


/* Contact Form Styling  */
.one_half {
    width: 45%;
    label {
        width: 100% !important;
        span {
            width: 100% !important;
            input {
                width: 100%;
                line-height: 40px;
                border: 1px solid black;
                padding-left: 10px;
            }
        }
    }
}
.forms-separator {
    min-width: 10%;
}

.line-wrapper {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-textarea {
    width: 100%;
    span {
        textarea {
            padding: 10px;
        }
    }
}

.bottom-wrapper {
    display: flex;
    .button-text-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.button-wrapper {
    text-align: right;
    input {
        border: none;
    }
    .ajax-loader {
        display: none !important;
    }
}
#mapa {
  #map-container {
      height: 400px;
      width: 100%;
      background-color: grey;
  }
}

/* Homepage Products Styling  */

.product_image {
    img {
        /*left: 36%;*/
    }
}

.btn-custom-white {
    &:hover {
        cursor: pointer;
    }
    background: none;
    border: none;

}

.btn-custom-white:hover img {

}

.product-item__purchase {
    margin-top: 20px;
}

.add-to-cart-form {
    margin-bottom: 0 !important;
    button {
        font-size: 0.9rem;
        z-index: 999 !important;
        position: relative;
        margin-top: 8px;
    }
}

.black_button_out {
    width: auto !important;
    float: right !important;
}

.product_image {
     position: relative;
    .produc_image-hover {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 32%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        opacity: 70%;
        display: flex;
        p {
            margin: auto;
            display: block;
            align-content: center;
            font-size: 40px;
            color: black;
        }
    }
}

$breakpoint-1000: 1000px;
@media ( max-width: $breakpoint-1000 ) {
    .product_image {
        .produc_image-hover {
            left: 28%;
        }
    }
}

$breakpoint-850: 850px;
@media ( max-width: $breakpoint-850 ) {
    .product_image {
        .produc_image-hover {
            left: 20%;
        }
    }
}

$breakpoint-767: 767px;
@media ( max-width: $breakpoint-767 ) {
    .product_image {
        .produc_image-hover {
            left: 42%;
        }
    }
}

$breakpoint-500: 500px;
@media ( max-width: $breakpoint-500 ) {
    .product_image {
        .produc_image-hover {
            display: none !important;
        }
    }
}

/* Single Product Styling */
.additional-margin {
    margin-top: 45px;
}

.product-gallery__main {
    justify-content: center;
    display: flex;
}

.related-products-header {
    margin-top: 60px;
    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
    }
}

/* Single Products displaying  */
/* Pictures Styling -- might be cahnged */
.product-gallery__item {
    min-width: 120px;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    border: 1px solid #e2e2e3;
    a {
        img {
            max-width: 100px;     /* 45 px */
            max-height: 110px;   /* notset */
            margin: 10px;
        }
    }
}

.product-gallery__main {
    border: 1px solid #e2e2e3;
    a {
        img {
            margin: 45px;
        }
    }
}
/* ------- */

.msesoul-single-product-content {
    color: #8a8a8a;
    border-bottom: 1px solid #e2e2e3;
}

.more-text-link {
    color: black;
    span {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.product-detail__info {
    margin-top: 20px;
    .product-stav {
        display: flex;
        font-weight: bold;
        margin-top: 20px;
        .left-side {

        }
        .right-side {
            font-weight: normal;
            color: #4acd81;
        }
    }

    .add-to-cart-form {
        margin-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e2e2e3;
    }

    .product-amount {
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 11px;
        margin-right: 10px;
    }

    .eso-product-quantity {
        border: 1px solid black;
        border-radius: 1px;
    }

    .btn-custom-white {
        &:hover {
            background: grey !important;
            cursor: pointer;
            transition: ease-in-out 0.2s;
        }
        position: absolute;
        top: 100px;
        width: 150px;
        left: 289px;
        background: black;
        color: white;
        line-height: 40px;
        text-transform: uppercase;
    }

    .cart-white {
        width: 20px !important;
        margin-right: 3px;
    }

    .cart-white:hover {
        background: #494949;
    }

    .product-detail__header {
        .price-before-discount {
            color: black !important;
        }
        .price__item {
            color: black !important;
            font-size: 1.8rem;
        }
        .dph-price {
            color: #c2c2c2;
            font-size: 1rem;
        }
    }
}

.single_product {
    .btn-custom-white {
        /*font-weight: bold;*/
        img {
            width: 20px;
            margin-top: -4px;
            margin-right: 3px;
        }
    }
}

.black_button_big {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid black;
    display: inline-block;
    padding: 15px 5px;
    color: black;
    width: 100%;
    text-align: center;
}

.black_button_big:hover {
    text-decoration: none;
    color: white;
    background: black;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}



#singleproduct_banner {
    margin-top: 100px;
    margin-bottom: -140px;
    height: 400px;
    background-position: center center !important;
    position: relative;
    text-align: center;
    h2 {
        margin-top: 120px;
        margin-bottom: 50px;
    }
    .center_button {
        display: flex;
        justify-content: center;
        .black_button {
            &:hover {
                transition: ease-in-out 0.2s;
            }
            display: block !important;
            width: 200px;
            padding: 0;
            line-height: 45px;
        }
    }
}

#related-products {
    .button-wrapper {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 75px;
        .btn-custom-black {
            &:hover {
                text-decoration: none;
                cursor: pointer;
                background-color: grey;
                transition: ease-in-out 0.2s;
            }
            background: black;
            color: white;
            text-transform: uppercase;
            width: 200px;
            line-height: 49px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }
    }
}


$breakpoint-767: 767px;
@media (max-width: $breakpoint-767) {
    .additional-width {
        width: 100%;
    }
    #list_ico {
        .ico_single {
            margin-top: 20px !important;
        }
    }
}

$breakpoint-955: 955px;
$breakpoint-991: 991px;
$breakpoint-575: 575px;
$breakpoint-1199: 1199px;
@media (max-width: $breakpoint-1199) {
    .product-detail__info {
        .btn-custom-white {
            left: 150px;
        }
    }
}

@media (max-width: $breakpoint-991) {
    #single-product-container {
        .product-variants-cont {
            .variants-container {
                label {
                    width: 31% !important;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-955) {
    .product-detail__info {
        .btn-custom-white {
            top: 224px;
            left: -196px;
        }
    }
    #single-product-container {
        padding-bottom: 96px;
    }
}
