@import "mixins";
@import "colors";

.price {
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
}


#new_product, #popular_product, .product_list_home, #related-products {

    .over_product {
        .price-before-discount {
            display: inline;
            font-weight: normal;
        }
    }

    .price-before-discount {
        font-weight: normal;
        font-size: 1.4rem;
        text-decoration: line-through;
    }

    .product_image {
        margin-top: -16px;
        img {
            max-width: 200px;
        }
    }

    $breakpoint-1199: 1199px;
    @media ( max-width: $breakpoint-1199 ) {
        .over_product {
            .price-before-discount {
                display: block;
            }
            .black_button_out {
                float: unset !important;
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    $breakpoint-767: 767px;
    @media ( max-width: $breakpoint-767 ) {
        .over_product {
            .price-before-discount {
                display: inline;
            }
            .black_button_out {
                float: right !important;
            }
        }
    }
}


.product-gallery__item {
    display: inline-block;
}

.stock-status {
    &--in-stock {
        .stock-status__name {
            color: $success;
        }
    }
}

.product-detail {
    &__tag {
        font-size: .8rem;
        display: inline-block;
        vertical-align: top;
    }
}

.stock-status__name {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

.add-to-cart-form {
    margin-bottom: 2rem;
}

.lightbox .lb-image {
    border: 0;
}

/* All Products Display */
.main_cat {
    cursor: default;
}


/* Single Product */
#single-product-container {
    .product-detail__header {
        margin-top: 15px;
        .price-before-discount {
            display: block;
            text-decoration: line-through;
        }
    }

    .variants-container {
        width: 100%;
        display: flex;
        margin-top: 20px;
        label {
            display: block;
            width: 17%;
            font-weight: bold;
            margin-top: 15px;
            min-width: fit-content;
            margin-right: 5px;
        }
        label:after {
            content: ":";
        }
        .var-select-cont {
            display: block;
            /*width: 83%;*/
            position: relative;
            width: 170px;
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 170px; /*85px*/
                height: 45px;
                border: 1px solid black;
                padding-left: 10px;
                option {
                    width: 170px; /*85px*/
                }
            }

            [name~="velikost"] {
                text-transform: uppercase;
            }
            [name~="brava"] {
                text-transform: capitalize;
            }
            [name~="barva"] {
                text-transform: capitalize;
            }
        }
        .var-select-cont:after {
            content: '⌄';
            font-size: 30px;
            position: absolute;
            right: 8px;
            top: -12px;
            z-index: 1;
            text-align: center;
            width: 10%;
            height: 100%;
            pointer-events: none;
            box-sizing: border-box;
        }
    }

    #single-add-to-cart {
        margin-top: 20px;
        .product-amount {
            margin-top: 15px;
        }
    }

    .product-gallery__main {
        min-height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 82%;
            height: auto;
        }
    }
}

.product-gallery__main {
    position: relative;
    .produc_image-hover {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 42%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        opacity: 70%;
        display: flex;
        p {
            margin: auto;
            display: block;
            align-content: center;
            font-size: 40px;
            color: black;
        }
    }
}

.product_image {
  img {
    max-width: 100%;
  }
}

#more-text {
    .read-more {
        text-decoration: underline;
    }
}

.show-read-more .more-text{
    display: none;
}

.product-feed {
  display: flex;
    margin-top: 40px;
  .fb-feed {
    margin-right: 18px;
  }
  .insta-feed {
    margin-right: 18px;
  }
    .email-feed {
        margin-top: 3px;
        font-size: 15px;
        text-decoration: underline;
    }
}

#related-products {
    .related-products-header {
        margin-bottom: 50px;
    }

    .single_product {
        padding-right: 20px;
        padding-left: 20px;
    }
    .single_product:hover {
        text-decoration: none;
    }

    .over_product {
        position: relative;
        border: 1px solid #e2e2e3;
        .product-tag {
            /*position: absolute;*/
        }
    }
    .product-tags {
        margin-top: 5px;
        z-index: 99;
        .product-detail__tag {
            /*margin-top: 5px;*/
            margin-left: 10px;
        }
    }

    .product_image {
        text-align: center;
        margin-top: -12px;
        max-height: 215px;
        width: auto;
    }
    .product-item__title {
        margin-top: 40px;
        margin-bottom: -4px ;
        text-align: center;
    }
    .status {
        text-align: center;
    }
    .price {
        margin-top: 15px;
        text-align: center;
    }
    .addtocart-button-wrapper {
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        .btn-custom-white:hover {
            text-decoration: underline;
        }
    }
}

$breakpoint-1199 : 1199px;
@media ( max-width: $breakpoint-1199 ) {
    #related-products {
        .single_product {
            padding-right: 5px;
            padding-left: 5px;
        }
      .product-item__title {
          margin-left: 3px;
          margin-right: 3px;
      }
    }
}

$breakpoint-767 : 767px;
@media ( max-width: $breakpoint-767 ) {
    #related-products {
        .single_product {
            padding-top: 20px;
        }
    }
}

$breakpoint-575 : 575px;
@media ( max-width: $breakpoint-575 ) {
    #related-products {
        .single_product {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}

/* Multiple Product */
/* Product Tags */

.over_product {
    .product-tags {
        min-height: 86px;  /*70px*/
        display: flex;
        position: relative;
        z-index: 99;
        flex-direction: column;
        .tag--doprava-zdarma {
            max-width: fit-content;
            margin-bottom: 3px;
        }
        .tag--nove {
            max-width: fit-content;
            margin-bottom: 3px;
        }

        [class*="tag--sleva"] {
            background: #5cd28d;
            max-width: fit-content;
        }

    }
    .product-item__title {
        margin-top: 15px;
    }
}

.tag--doprava-zdarma {
    background: black;
}

[class^="tag--sleva"] {
    background: #ffff00;
}

/* Single Product */
/* Product Tag */
#single-product-container {
    position: relative;
    border-bottom: 1px solid black;
    padding-bottom: 75px;
    .single-product-tags {
        display: flex;
        position: absolute;
        top: 10px;
        left: 25px;
        margin-top: 18px;
        flex-direction: column;
        z-index: 99;
        .product-tag {
            margin-bottom: 3px;
            max-width: fit-content;
        }
    }
    [class*="tag--sleva"] {
        background: #5cd28d;
        max-width: fit-content;
    }
}

/* Sidebars for Products Display */
#sidebar-smallscreen {
    display: none;
}

$breakpoint-991 : 991px;
@media ( max-width: $breakpoint-991 ) {
    #sidebar-smallscreen {
        display: block;
    }
    #sidebar-normalscreen {
        display: none;
    }
    .product_list_home {
        margin-top: 20px;
    }
}

$breakpoint-767: 767px;
@media ( max-width: $breakpoint-767 ) {
    .single_product {
        .over_product {
            .product-item__purchase {
                .btn-custom-white {
                    font-size: 1.1rem;
                }
                .black_button_out {
                    margin-top: -4px !important;
                    margin-right: 4px;
                    font-size: 20px;
                }
            }
        }
    }
}