/**********************HP**********************/

#slider{
	.single_slide{
		height: 600px;
		background-size: cover !important;
		background-position: center center !important; 
		padding: 179px 0px;	
		h1{
			font-weight: 200;
			color: #000000;
			font-size: 72px;
			strong{
				font-weight: 500;
			}
		}
		p{
			font-size: 15px;
			color: #000000;
			font-weight: 500;
			margin-bottom: 0px;
		}
		.black_button{
			margin-top: 80px;
		}

	}
}

#list_ico{
	margin-top: 100px;
	margin-bottom: 120px;
	.ico_single{
		width: 60px;
	    height: 60px;
	    margin: 0px auto;
	    display: block;
	    margin-bottom: 20px;
		transition: 0.3s ease-in-out;
	}

	.ico_single:hover {
		transform: scale(1.2);
	}

	.title_par{
		font-size: 18px;
		color: black;
		text-align: center;
		margin-bottom: 25px;
		font-weight: 500;
	}
	p{
		font-size: 15px;
		color: #505050;
		text-align: center;
		margin-bottom: 0px; 
	}
}
.product_list_home{
	h2{
		margin-bottom: 50px;
		font-size: 36px;
		color: black;
		text-align: center;
	}
	a{
		&:hover{
			text-decoration: none !important;
		}
	}
	.all_product{
		margin-top: 80px; 
	}
	.single_product{
		position: relative;
		.over_product{
		    border: 1px solid #e2e2e3;
		    padding: 15px 10px 20px 10px;
		    min-height: 450px;
		    position: relative;
			.over_tag{
				width: 100%;
				margin-bottom: 2px;
			}
			.product-tag{
				position: relative;
				left: 0px;
				right: unset !important;
				display: inline-block;
				border-radius: unset;
				z-index: 999;
			}

			.product_image{
				img{
					margin: 0px auto;
					display: block;
					max-height: 180px;
					object-fit: contain;
					-webkit-transition: 0.6s ease;
 					transition: 0.6s ease;
 					/*position: absolute;*/
    				top: 75px;
				}
			}
			.product-item__title{
			    font-size: 18px;
			    text-align: center;
			    color: black;
			    /*margin-top: 180px;*/
			}
			.status > span{
				font-size: 15px;
				text-align: center;
				display: block;
				margin-top: -7px;
				font-weight: 500 !important;
			}
			.stock-status--in-stock{
				color: #5cd28d;
			}
		}

		.price{
			margin-top: 20px;
			text-align: center;
		}
		.action_detail{
			.cart_in{
				padding-top: 25px;
				text-align: right;
			}
			.black_button_out{
				margin-top: 20px;
			}
			img{
				width: 18px;
				height: 18px;
				display: inline-block;
				margin-right: 5px;
			}
			p{
				font-size: 12px;
				color: #000000;
				display: inline-block;
				margin-bottom: 0px;
			}
		}
		
	}
}

$breakpoint-1199: 1199px;
@media (max-width: $breakpoint-1199) {
	.product_list_home {
		.single_product {
			.product_image {
				img {
					max-width: -webkit-fill-available;
				}
			}
		}
	}
}

$breakpoint-767: 767px;
@media (max-width: $breakpoint-1199) {
	.product_list_home {
		.single_product {
			padding-bottom: 30px;
		}
	}
}

#info_banner{
    margin: 120px 0px;
    min-height: 400px;
    background-size: cover !important;
    background-position: center center !important;
    padding: 130px 0px;
    background-attachment: fixed !important;

	h2{
		font-size: 36px;
		text-align: center;
		color: #000000;
	}
	.center_button{
		margin-top: 50px;
	}
	.black_button{
		padding: 16px 66px;

	}
}


/*****************************************Seznam produktů**************************************/

#list_product_page{
	.single_product{
		margin-bottom: 30px;
	}

	#category_list{
		.single_cat{
			width: 100%;
			display: block;
			cursor: pointer;
		}
		.active-link-wrapper {
			background-color: black;
			color: white;
			a {
				color: white;
				text-decoration: none;
			}
		}
		.main_cat{
			border: 1px solid #000000;

			display: flex;
			.arrow-up {
				font-size: 25px;
				margin-top: -2px;
				margin-bottom: -11px;
				display: inline-block;
				float: right;
			}
			.arrow-down {
				font-size: 25px;
				margin-top: -4px;
				margin-bottom: 0;
				display: inline-block;
				float: right;
			}
			a {
				width: 100%;
                padding: 11px 10px;
			}
		}
		.active-link-wrapper {
			/*.arrow-down {
				display: none;
			}
			.arrow-up {
				display: block !important;
			}*/
		}
		.sub_cat {
			/*border-left: 1px solid #000000;*/
			background-color: #f3f3f3;
			a {
				display: inline-block;
				padding: 11px 16px;
				width: 100%;
			}
			.active-link {
				font-weight: bold;
			}
		}
		.sub_cat_list{
			background: #f3f3f3;
			padding: 20px 20px;
			display: none;
			.sub_cat{
				&.active{
					p, a{
						font-weight: 500;
					}
				}
				p, a{
					font-size: 15px;
					font-weight: 300;
				}
			}
		}
	}
	

}

#sidebar_banner{
	min-height: 400px;
	margin: 30px 0px;

	.banner_title{
		font-size: 18px;
		color: #000000;
		text-align: center;
		color: black;
		font-weight: 500;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	.contact_box{
		text-align: center;
		a{
			margin-bottom: 10px;
			font-size: 15px;
			color: black;
			font-weight: bold;
			span{
				text-decoration: underline;
			}
		}
		.box_ico{
			margin-right: 5px;
			font-size: 15px;
		}
	}
}

#slider_box, #slider_box_small {
	text-align: center;
	border: 1px solid black;
	.single_box_slide{
	
		.over_box_slide{
			/*border: 1px solid black;*/
			min-height: 300px;
			padding: 50px 35px 30px 35px;

			.ico_single{
				width: 70px;
				height: 50px;
				display: block;
				margin: 0px auto;
			}
			.box_title{
				font-size: 18px;
				font-weight: 500;
				margin: 25px 0px;
				color: black;
			}
			p{
				color: #505050;
				font-size: 15px;
				font-weight: 300;
			}
		}
	}

}

$breakpoint-575: 575px;
@media (max-width: $breakpoint-575) {
	#slider_box {
		/*max-width: 575px;*/
	}
}


/*********************************************Kontakt**********************************************/
#kontakt{
	.ok_form, .chyba_form{
		font-weight: bold;
	}
	#kontakt_info{
		margin-bottom: 50px;
		
		.ico_kontakt{
			width: 50px;
			height: 50px;
			margin: 0px auto;
			display: block;
		}

		h2{
			font-size: 15px;
			color: #000000;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 30px;
			font-weight: 600;
		}
		p{
			margin-bottom: 0px;
		}
		a{

		}
		p,a{
			color: #505050;
			font-size: 15px;
		}
		strong{
			color: black;
			font-size: 15px;
			font-weight: 600;
		}
	}

	#contact_form{
		h2{
			text-align: center;
			margin-bottom: 25px;
		}
		.container{
			max-width: 570px; 
		}
		form{
			label{
				font-size: 15px;
				color: black;
				margin-bottom: 5px;
				text-transform: uppercase;
				font-weight: 500;
			}
			textarea{
				border: 1px solid black !important;
				height: 50px !important;
				width: 100% !important;
				min-height: 100px;
			}
			.single-input{
				margin-bottom: 25px;

				

				input{
					border: 1px solid black;
					width: 100%;
					height: 50px;
				}
				

			}
			.send-form{
				border: none;
    			float: right;
			}
		}
	}

	#mapa{
		h2{
			font-size: 36px;
			margin-bottom: 50px;
			margin-top: 60px;
			text-align: center;
		}
	}
}

$breakpoint-767: 767px;
@media (max-width: $breakpoint-767) {
	#kontakt_info {
		text-align: center;
		h2 {
			margin-top: 10px;
		}
		.ico_kontakt {
			margin-top: 20px !important;
		}
	}
}

/*************************************Obsah************************************/

#content{
	#content_text{
		h1,h2,h3,h4,p{
			color: black;
		}
	}
}
