/*
	Theme Name: E-soul Hello
	Description: Hello theme for E-soul
	Version: 2020.3.5
	Author: Marketsoul s. r. o.
	Author URI: http://marketsoul.cz
	Tags: HTML5, CSS3, jQuery

	License: GPLv3
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.wrapper-link {
	display: block;
}

.wrapper-link:active, .wrapper-link:focus, .wrapper-link:hover {
	text-decoration: none;
}

/* Header additional styling */
header .nav-picture {
	max-width: 25px;
}

header .nav-picture-account {
	width: 25px;
}

.custom-cart {
	width: 120px;
}

.navbar-light .navbar-toggler {
	border: none !important;
}
