.order-status--for-completion{color:#ffc107}.order-status--cancelled,.order-status--cancelled-2{color:#dc3545}.order-status--waiting-for-payment{color:#007bff}.order-status--delivered{color:#28a745}.order-status--on-the-way{color:#17a2b8}.order-status--failed{color:#dc3545}.stock-status--sold-out{color:#dc3545 !important}.stock-status--in-one-week{color:#007bff !important}.stock-status--until-christmas{color:#28a745 !important}.stock-status--not-available{color:#6c757d !important}.stock-status--on-request{color:#007bff !important}.stock-status--last-item{color:#dc3545 !important}.stock-status--in-stock{color:#5cd28d !important}.esf-posts-fb a{color:#333;vertical-align:top;font-size:.9rem}.esf-posts-fb a:hover,.esf-posts-fb a:active,.esf-posts-fb a:focus{text-decoration:none}.esf-item-fb{padding:5px}@media only screen and (min-width: 768px){.esf-item-fb{max-width:calc(50% - 4px);display:inline-block}}

/*# sourceMappingURL=facebook-feed.css.map */
